# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C/Swift.gitignore & Swift.gitignore

## User settings
xcuserdata/
*.xcuserstate

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/

# Generated build output
Build/
DerivedData/

# OS files
.DS_Store

# CocoaPods
# Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
